<div class="jumbotron">
  <div class="container">
    <h1>Praca Inżynierska</h1>
	<p>Aplikacja webowa w Ruby on Rails</p>
	<%= link_to "Strona Główna", root_path, class: 'btn btn-primary btn-sm active' %>
	<%= link_to "O mnie", home_about_path, class: 'btn btn-info btn-sm' %>
  </div>
</div>