$jumbotron-bg: #ffffff;
$link-color: #003366;
$navbar-default-brand-color: #003366;
$body-bg: #e9e9e9;
$navbar-default-bg: #ffffff;
$text-color: #003366;
$navbar-height: 40px;
@import "bootstrap-sprockets";
@import "bootstrap";

.center {
	text-align: center;
}